//fonts
$Gilory: 'Gilory';
$Nekst: 'Nekst-Black';

//font weight
$regular: 400;
$super: 900;

//font size
$bigFontSize: 54px;
$inputFontSize: 30px;
$descriptionFontSize: 16px;

//line height
$bigLineHeight: 49px;
$lowLineHeight: 24px;

//color
$black: #111111;
$white: #ffffff;
$grey: #575757;
$greyInput: #F3F3F4;
$orange: #FF9514;